doctype html
// IE не забыть
html(lang='ru')
	head
		meta(charset='utf-8')
		title Заголовок
		meta(name='description', content='')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
		link(rel='shortcut icon', href='favicon.png')
		link(rel='stylesheet', href='libs/bootstrap/bootstrap-grid-3.3.1.min.css')
		link(rel='stylesheet', href='libs/font-awesome-4.6.3/css/font-awesome.min.css')
		link(rel='stylesheet', href='libs/fancybox/jquery.fancybox.css')
		link(rel='stylesheet', href='libs/owl.carousel.2.1.0/assets/owl.carousel.css')
		link(rel='stylesheet', href='libs/countdown/jquery.countdown.css')
		link(rel='stylesheet', href='css/fonts.css')
		link(rel='stylesheet', href='css/settings.css')
		link(rel='stylesheet', href='style.css')
		link(rel='stylesheet', href='css/media.css')
	body
		header.header
			.container
				.row
					.col-md-12.table
						a.home: i.fa.fa-home 
						nav.h-nav
							ul                
								li: a Спикеры
								li: a О Конгрессе
								li: a Организатор
								li: a Программа
								li: a Golden Ball
								li: a Варианты участия
								li: a Список участников
								li: a Контактная информация
						ul.h-lang
							li: a Rus 
							li: a Eng
		section.congress
			.container
				.row
					.col-md-12
						.title.clearfix
							img(src="img/congress-title.png", alt="")
							//-strong V 
							//-span Международный 
								br
								| экономический 
								br 
								| бизнес-конгресс
						p.info
							span
								i.fa.fa-calendar
								strong 22-23 сентября 2016 
							span 
								i.fa.fa-map-marker
								| Владивосток, Россия
		section.partners
			.container
				.row
					.col-md-3.partner
						p Стратегический партнер
						i: ins: img(src="img/partner-1.jpg", alt="") 	
					.col-md-3.partner
						p Генеральный партнер
						i: ins: img(src="img/partner-2.jpg", alt="") 	
					.col-md-5.col-md-offset-1.partner
						p Генеральные информационные партнеры
						i
							ins: img(src="img/partner-3.jpg", alt="")
							ins: img(src="img/partner-4.jpg", alt="")
		section.treatment
			.container
				h2.h2 Обращение председателя организационного комитета 
					br 
					| V Международного Экономического Бизнес-Конгресса
				.row
					.col-md-6.about
						i.red-border: img(src="img/photo-1.jpg", alt="") 
						.text-center
							strong.name Инесса Бабич
							.post
								span Председатель организационного комитета
									br
									| Международного Экономического Бизнес-Конгресса;
								span Председатель Совета Бизнес-Клуба «Диалоги» для владельцев
									br
									| и руководителей бизнес-предприятий ДФО и стран АТР
					.col-md-6
						p 22 – 23 сентября во Владивостоке по инициативе бизнес сообщества Дальнего Востока России и при поддержке Бизнес-Клуба «Диалоги» состоится V Юбилейный Международный Экономический Бизнес-Конгресс.
						p Бизнес-Конгресс состоится уже в пятый раз, это событие федерального значения имеет свою историю и сложившиеся традиции. На сегодняшний день это уникальная площадка для взаимодействия, обмена опытом, определения целей и задач, формирования планов, создания новых совместных проектов для бизнес, научного и академических сообществ.
						p V Юбилейный МЭБК – это настоящая гордость, проявление активной позиции бизнес-сообщества Дальнего Востока России.
						p Отличительная особенность Бизнес-Конгрессов – это собственный характер, который раскрывается в дискуссиях и обсуждениях, разворачивающихся в рамках его проведения. А самое главное, это выражение мнения бизнес-сообщества Дальнего Востока России. Считаем своим достижением тот факт, что темы, затронутые на Бизнес-Конгрессах из категории «идея» вырастают в «активно действующие проекты».
						p Пять лет назад началась история Международных Экономических Бизнес-Конгрессов, пять лет назад началось формирование мощнейшей коммуникационной площадки для решения бизнес-задач. Сегодня Бизнес-Конгресс – это самостоятельный и активно развивающийся проект, логичное продолжение заседаний Бизнес-Клуба «Диалоги», которому в 2016 году исполняется 10 лет.
		section.speakers
			.container
				h2.h2 Спикеры, эксперты
				.row 
					.col-md-3.col-sm-4.col-xs-12.item
						i.grey-border: img(src="img/speaker-1.jpg", alt="") 
						strong.name Гевин Стоддарт
						span.post Член наблюдательного Совета, директор
						ins.company «Moore Stephens CIS»
					.col-md-3.col-sm-4.col-xs-12.item
						i.grey-border: img(src="img/speaker-2.jpg", alt="") 
						strong.name Холоша Михаил
						span.post Начальник отдела развития транспорта
						ins.company ОАО «ДНИИМФ»
					.col-md-3.col-sm-4.col-xs-12.item
						i.grey-border: img(src="img/speaker-3.jpg", alt="") 
						strong.name Грось Денис
						span.post Исполнительный директор
						ins.company ООО «Индустриальный парк «Авангард»
					.col-md-3.col-sm-4.col-xs-12.item
						i.grey-border: img(src="img/speaker-4.jpg", alt="") 
						strong.name Казаков Сергей
						span.post Генеральный директор
						ins.company АНО «Центр развития экспорта Приморского Края»
					.col-md-3.col-sm-4.col-xs-12.item
						i.grey-border: img(src="img/speaker-1.jpg", alt="") 
						strong.name Гевин Стоддарт
						span.post Член наблюдательного Совета, директор
						ins.company «Moore Stephens CIS»
					.col-md-3.col-sm-4.col-xs-12.item
						i.grey-border: img(src="img/speaker-2.jpg", alt="") 
						strong.name Холоша Михаил
						span.post Начальник отдела развития транспорта
						ins.company ОАО «ДНИИМФ»
					.col-md-3.col-sm-4.col-xs-12.item
						i.grey-border: img(src="img/speaker-3.jpg", alt="") 
						strong.name Грось Денис
						span.post Исполнительный директор
						ins.company ООО «Индустриальный парк «Авангард»
					.col-md-3.col-sm-4.col-xs-12.item
						i.grey-border: img(src="img/speaker-4.jpg", alt="") 
						strong.name Казаков Сергей
						span.post Генеральный директор
						ins.company АНО «Центр развития экспорта Приморского Края»
					.col-md-3.col-sm-4.col-xs-12.item
						i.grey-border: img(src="img/speaker-1.jpg", alt="") 
						strong.name Гевин Стоддарт
						span.post Член наблюдательного Совета, директор
						ins.company «Moore Stephens CIS»
					.col-md-3.col-sm-4.col-xs-12.item
						i.grey-border: img(src="img/speaker-2.jpg", alt="") 
						strong.name Холоша Михаил
						span.post Начальник отдела развития транспорта
						ins.company ОАО «ДНИИМФ»
					.col-md-3.col-sm-4.col-xs-12.item
						i.grey-border: img(src="img/speaker-3.jpg", alt="") 
						strong.name Грось Денис
						span.post Исполнительный директор
						ins.company ООО «Индустриальный парк «Авангард»
					.col-md-3.col-sm-4.col-xs-12.item
						i.grey-border: img(src="img/speaker-4.jpg", alt="") 
						strong.name Казаков Сергей
						span.post Генеральный директор
						ins.company АНО «Центр развития экспорта Приморского Края»
		section.about-congress#about-congress
			.container
				h2.h2 О Международном Экономическом Бизнес-Конгрессе
				.row.tabs
					a.col-sm-2.col-xs-10.col-sm-offset-1.col-xs-offset-1.active V МЭБК, 2016
					a.col-sm-2.col-xs-10.col-sm-offset-0.col-xs-offset-1 IV МЭБК, 2015
					a.col-sm-2.col-xs-10.col-sm-offset-0.col-xs-offset-1 III МЭБК, 2014
					a.col-sm-2.col-xs-10.col-sm-offset-0.col-xs-offset-1 II МЭБК, 2013
					a.col-sm-2.col-xs-10.col-sm-offset-0.col-xs-offset-1 I МЭБК, 2012
				.tabs-content
					.row
						.col-md-6
							.image: i.red-border: img(src="img/congress-5.jpg", alt="")
						.col-md-5
							.text-block
								h3 V Юбилейный Бизнес-Конгресс 
								.text
									p Пройдет 22-23 сентября 2016 г. Во Владивостоке состоится обсуждение бизнес-кейсов, рассчитанное на обмен опытом для эффективного стратегического развития организаций.
									p Новый двухдневный формат Бизнес-Конгресса позволит гостям принять участие в запланированных деловых событиях в рамках МЭБК.
					.row
						.col-md-6
							.image: i.red-border: img(src="img/congress-4.jpg", alt="")
						.col-md-5
							.text-block
								h3 IV Бизнес-Конгресс, 24 сентября 2015
								.text
									p Тема Конгресса «Лучшие практики для ведения бизнеса и улучшения инвестиционного климата». Именно это направление особенно актуально в условиях развития Свободного порта Владивосток и Территорий опережающего социально-экономического развития.
								ul
									li: a(href="") ПРОГРАММА И СПИКЕРЫ
									li: a(href="") УЧАСТНИКИ
									li: a(href="") ОТЧЕТ
					.row
						.col-md-6
							.image: i.red-border: img(src="img/congress-3.jpg", alt="")
						.col-md-5
							.text-block
								h3 III Бизнес-Конгресс, 26 сентября 2013
								.text
									p Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». Именно это направление определено Задачей №1 в Федеральной целевой программе «Экономическое и социальное развитие Дальнего Востока и Байкальского региона  на период до 2025 года», принятой Правительством Российской Федерации.
								ul
									li: a(href="") ПРОГРАММА И СПИКЕРЫ
									li: a(href="") УЧАСТНИКИ
					.row
						.col-md-6
							.image: i.red-border: img(src="img/congress-2.jpg", alt="")
						.col-md-5
							.text-block
								h3 II Бизнес-Конгресс, 26 сентября 2013
								.text
									p Конгресс продолжил успешно начатый годом ранее проект. Главной задачей которого, было поддержание работы международной коммуникативной площадки для обсуждения вопросов инвестиционного, инновационного, экономического и культурного сотрудничества России с зарубежными странами.
								ul
									li: a(href="") ОБРАЩЕНИЕ ПРЕДСЕДАТЕЛЯ КОНГРЕССА
									li: a(href="") СПИКЕРЫ
									li: a(href="") УЧАСТНИКИ
									li: a(href="") РЕЗОЛЮЦИЯ
									li: a(href="") СМИ О БИЗНЕС
					.row
						.col-md-6
							.image: i.red-border: img(src="img/congress-1.jpg", alt="")
						.col-md-5
							.text-block
								h3 I Бизнес-Конгресс, 27 сентября 2012
								.text
									p Прошел на волне важного международного события – Саммита АТЭС. В центре внимания Конгресса был поиск новых  путей развития Дальнего Востока России, способов привлечения инвестиций: как в экономику, так и в культуру региона.
								ul
									li: a(href="") ОБРАЩЕНИЕ ПРЕДСЕДАТЕЛЯ КОНГРЕССА
									li: a(href="") СПИКЕРЫ
		section.video
			.container
				.row
					.col-md-12
						.video-container
							<iframe width="776" height="464" src="https://www.youtube.com/embed/yUrKYt19WuA" frameborder="0" allowfullscreen></iframe>
		section.reviews
			.container
				h2.h2 Отзывы
				.owl-carousel.carousel
					.row
						.image.col-md-4.col-md-offset-1
							i.red-border: img(src="img/review-1.jpg", alt="") 
							strong.name Стелианос Тсифетакис 1 
							span.post Член наблюдательного Совета, директор 
						.col-md-6
							.text
								p «Это отличная возможность для большого количества бизнесменов из разных стран собраться вместе, обменяться опытом и идеями, обсудить общие проблемы. Для бизнеса это еще и хорошая возможность объединиться с местным правительством и улучшить бизнес-среду во Владивостоке, чтобы сделать из города настоящий свободный порт.
								p В будущем у Бизнес-Конгресса есть только один путь – он должен расти, развиваться и становиться лучше. Вместе с нами во Владивосток приехали представители различных компаний чтобы найти возможности для расширения бизнеса, для саморазвития. Конгресс – это отличная бизнес среда, и это единственное место, где можно встретить людей, разделяющих наши идеи».
					.row
						.image.col-md-4.col-md-offset-1
							i.red-border: img(src="img/review-1.jpg", alt="") 
							strong.name Стелианос Тсифетакис 2
							span.post Член наблюдательного Совета, директор
						.col-md-6
							.text
								p «Это отличная возможность для большого количества бизнесменов из разных стран собраться вместе, обменяться опытом и идеями, обсудить общие проблемы. Для бизнеса это еще и хорошая возможность объединиться с местным правительством и улучшить бизнес-среду во Владивостоке, чтобы сделать из города настоящий свободный порт.
								p В будущем у Бизнес-Конгресса есть только один путь – он должен расти, развиваться и становиться лучше. Вместе с нами во Владивосток приехали представители различных компаний чтобы найти возможности для расширения бизнеса, для саморазвития. Конгресс – это отличная бизнес среда, и это единственное место, где можно встретить людей, разделяющих наши идеи».
					.row
						.image.col-md-4.col-md-offset-1
							i.red-border: img(src="img/review-1.jpg", alt="") 
							strong.name Стелианос Тсифетакис 3
							span.post Член наблюдательного Совета, директор
						.col-md-6
							.text
								p «Это отличная возможность для большого количества бизнесменов из разных стран собраться вместе, обменяться опытом и идеями, обсудить общие проблемы. Для бизнеса это еще и хорошая возможность объединиться с местным правительством и улучшить бизнес-среду во Владивостоке, чтобы сделать из города настоящий свободный порт.
								p В будущем у Бизнес-Конгресса есть только один путь – он должен расти, развиваться и становиться лучше. Вместе с нами во Владивосток приехали представители различных компаний чтобы найти возможности для расширения бизнеса, для саморазвития. Конгресс – это отличная бизнес среда, и это единственное место, где можно встретить людей, разделяющих наши идеи».
					.row
						.image.col-md-4.col-md-offset-1
							i.red-border: img(src="img/review-1.jpg", alt="") 
							strong.name Стелианос Тсифетакис 4
							span.post Член наблюдательного Совета, директор
						.col-md-6
							.text
								p «Это отличная возможность для большого количества бизнесменов из разных стран собраться вместе, обменяться опытом и идеями, обсудить общие проблемы. Для бизнеса это еще и хорошая возможность объединиться с местным правительством и улучшить бизнес-среду во Владивостоке, чтобы сделать из города настоящий свободный порт.
								p В будущем у Бизнес-Конгресса есть только один путь – он должен расти, развиваться и становиться лучше. Вместе с нами во Владивосток приехали представители различных компаний чтобы найти возможности для расширения бизнеса, для саморазвития. Конгресс – это отличная бизнес среда, и это единственное место, где можно встретить людей, разделяющих наши идеи».
					.row
						.image.col-md-4.col-md-offset-1
							i.red-border: img(src="img/review-1.jpg", alt="") 
							strong.name Стелианос Тсифетакис 5
							span.post Член наблюдательного Совета, директор
						.col-md-6
							.text
								p «Это отличная возможность для большого количества бизнесменов из разных стран собраться вместе, обменяться опытом и идеями, обсудить общие проблемы. Для бизнеса это еще и хорошая возможность объединиться с местным правительством и улучшить бизнес-среду во Владивостоке, чтобы сделать из города настоящий свободный порт.
								p В будущем у Бизнес-Конгресса есть только один путь – он должен расти, развиваться и становиться лучше. Вместе с нами во Владивосток приехали представители различных компаний чтобы найти возможности для расширения бизнеса, для саморазвития. Конгресс – это отличная бизнес среда, и это единственное место, где можно встретить людей, разделяющих наши идеи».
					.row
						.image.col-md-4.col-md-offset-1
							i.red-border: img(src="img/review-1.jpg", alt="") 
							strong.name Стелианос Тсифетакис 6
							span.post Член наблюдательного Совета, директор
						.col-md-6
							.text
								p «Это отличная возможность для большого количества бизнесменов из разных стран собраться вместе, обменяться опытом и идеями, обсудить общие проблемы. Для бизнеса это еще и хорошая возможность объединиться с местным правительством и улучшить бизнес-среду во Владивостоке, чтобы сделать из города настоящий свободный порт.
								p В будущем у Бизнес-Конгресса есть только один путь – он должен расти, развиваться и становиться лучше. Вместе с нами во Владивосток приехали представители различных компаний чтобы найти возможности для расширения бизнеса, для саморазвития. Конгресс – это отличная бизнес среда, и это единственное место, где можно встретить людей, разделяющих наши идеи».
		section.organizer
			.container
				h2.h2 Организатор Конгресса
				.row
					.col-md-5.club-block
						.club
							img(src="img/club.png", alt="") 
							p Бизнес-Клуб «Диалоги» для владельцев и руководителей бизнес-предприятий Дальневосточного Федерального округа и стран Азиатско-Тихоокеанского региона. 
						strong Основан в августе 2006 года.
					.col-md-7
						.text
							p Формат Бизнес-Клуба - это заседания, которые проходят каждый месяц и собирают на своей коммуникационной площадке ведущих экспертов России, лучших отечественных и зарубежных спикеров, влиятельных владельцев среднего и крупного бизнеса, представителей науки и образования, представителей власти. За 10 лет в рамках Бизнес-Клуба проведено более 100 заседаний, по самым актуальным вопросам федерального значения, волнующих бизнес-сообщество страны.
							p Укреплению статуса Дальнего Востока России как инвестиционно-привлекательного региона способствуют события международного масштаба, такие как Саммит АТЭС в 2012 году, Восточный Экономический Форум и Международные Экономические Бизнес-Конгрессы, которые проходят в рамках работы Бизнес-Клуба «Диалоги». В 2016 году состоится уже V Юбилейный Международный Экономический Бизнес-Конгресс.
							p В состав Бизнес-Клуба входят более 150 крупных компаний Дальневосточного Федерального округа и стран Азиатско-Тихоокеанского региона.
		section.analytics
			.container
				h2.h2 Аналитика
				.row
					.col-md-6
						.owl-carousel.carousel
							.item
								h4 Про графики 1
								p Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». Именно это направление определено Задачей №1 в Федеральной целевой программе «Экономическое и социальное развитие Дальнего Востока и Байкальского региона  на период до 2025 года», принятой Правительством Российской Федерации. Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». 
							.item
								h4 Про графики 2
								p Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». Именно это направление определено Задачей №1 в Федеральной целевой программе «Экономическое и социальное развитие Дальнего Востока и Байкальского региона  на период до 2025 года», принятой Правительством Российской Федерации. Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». 
							.item
								h4 Про графики 3
								p Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». Именно это направление определено Задачей №1 в Федеральной целевой программе «Экономическое и социальное развитие Дальнего Востока и Байкальского региона  на период до 2025 года», принятой Правительством Российской Федерации. Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». 
							.item
								h4 Про графики 4
								p Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». Именно это направление определено Задачей №1 в Федеральной целевой программе «Экономическое и социальное развитие Дальнего Востока и Байкальского региона  на период до 2025 года», принятой Правительством Российской Федерации. Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». 
							.item
								h4 Про графики 5
								p Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». Именно это направление определено Задачей №1 в Федеральной целевой программе «Экономическое и социальное развитие Дальнего Востока и Байкальского региона  на период до 2025 года», принятой Правительством Российской Федерации. Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». 
							.item
								h4 Про графики 6
								p Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». Именно это направление определено Задачей №1 в Федеральной целевой программе «Экономическое и социальное развитие Дальнего Востока и Байкальского региона  на период до 2025 года», принятой Правительством Российской Федерации. Тема конгресса «Взаимодействие бизнеса и власти как ресурс развития Дальнего Востока Российской Федерации». 
					.col-md-6.image
						i.red-border: ins: img(src="img/analytics-1.jpg", alt="") 
		section.schedule
			.container
				.row
					.col-lg-10.col-lg-offset-1
						h2.h2 Тайминг
						a.download-pdf
							img(src="img/icon-pdf.png", alt="")
							span Скачать тайминг
				.row
					.col-lg-10.col-lg-offset-1
						.content
							h4.day: span
								strong День 1, 
								| четверг
							ul
								li 
									i.fa.fa-calendar 
									strong Дата проведения:	
									strong.right 22 сентября, 2016 г. 
								li
									i.fa.fa-map-marker 
									strong Место проведения Конгресса: 
									span.right г.Владивосток, ул. Семеновская, 29<br> Бизнес-центр HYUNDAI,<br> Зал «Даймонд» 
								li &nbsp;
								li 
									i.fa.fa-clock-o
									strong Регистрация, приветственный кофе: 
									span.right 10:00 - 11:00 
								li 
									strong Время проведения Конгресса: 
									span.right 11:00 – 18:00 
								li 
									strong Вечерний прием Golden Ball: 
									span.right 20:00 – 23:00 
							h4.day: span
								strong День 2, 
								| пятница 
							ul
								li
									i.fa.fa-calendar 
									strong Дата проведения:	
									strong.right 23 сентября, 2016 г. 
								li
									i.fa.fa-map-marker 
									strong Место проведения Управленческих<br> Тренингов в рамках МЭБК: 
									span.right г. Владивосток, ул. Семеновская, 29<br> Бизнес-центр HYUNDAI,<br> Зал «Эмеральд» 
								li &nbsp;
								li
									span.right г. Владивосток, ул. Фонтанная, 18<br> Приморское отделение № 8635<br> ПАО «Сбербанк России»
								li &nbsp;
								li 
									i.fa.fa-clock-o 
									strong Регистрация, кофе-брейк: 
									span.right 14:30 - 15:00 
								li 
									strong Знакомство, представление участников: 
									span.right 15:00 – 15:30 
								li 
									strong Время проведения Тренингов: 
									span.right 15:30 – 18:00 
								li 
									strong Приём «Бокал шампанского»: 
									span.right 20:00 – 23:00 
		section.golden-ball.about-congress#golden-ball
			.container
				h2.h2 Golden Ball
				.row.tabs
					a.col-sm-2.col-xs-10.col-sm-offset-1.col-xs-offset-1.active GOLDEN BALL, 2016
					a.col-sm-2.col-xs-10.col-sm-offset-0.col-xs-offset-1 GOLDEN BALL, 2015
					a.col-sm-2.col-xs-10.col-sm-offset-0.col-xs-offset-1 GOLDEN BALL, 2014
					a.col-sm-2.col-xs-10.col-sm-offset-0.col-xs-offset-1 GOLDEN BALL, 2013
					a.col-sm-2.col-xs-10.col-sm-offset-0.col-xs-offset-1 GOLDEN BALL, 2012
				.tabs-content
					.row
						h3 GOLDEN БАЛ, V Бизнес-Конгресс
						.col-md-7.image
							i.red-border: img(src="img/golden-4-1.jpg", alt="")
							i.red-border.bd-2: img(src="img/golden-4-2.jpg", alt="")
						.col-md-5.text-block
							.text
								p Добрый вечер! Ni hao! Buonasera! Namastē! Konbanwa! Это лишь часть приветствий, которые звучали на открытии «Golden Ball», чествуя российских и иностранных Почетных гостей Конгресса на их родных языках.
								p Прием по случаю официального закрытия IV Международного Экономического Бизнес-Конгресса превзошел все ожидания. «Golden Ball» стал не просто очередным светским раутом, но и самым ярким творческим событием в культурной жизни Дальнего Востока России! 
					.row
						h3 GOLDEN BALL, IV Бизнес-Конгресс
						.col-md-7.image
							i.red-border: img(src="img/golden-4-1.jpg", alt="")
							i.red-border.bd-2: img(src="img/golden-4-2.jpg", alt="")
						.col-md-5.text-block
							.text
								p Добрый вечер! Ni hao! Buonasera! Namastē! Konbanwa! Это лишь часть приветствий, которые звучали на открытии «Golden Ball», чествуя российских и иностранных Почетных гостей Конгресса на их родных языках.
								p Прием по случаю официального закрытия IV Международного Экономического Бизнес-Конгресса превзошел все ожидания. «Golden Ball» стал не просто очередным светским раутом, но и самым ярким творческим событием в культурной жизни Дальнего Востока России! 
					.row
						h3 GOLDEN БАЛ, III Бизнес-Конгресс
						.col-md-7.image
							i.red-border: img(src="img/golden-3-1.jpg", alt="")
							i.red-border.bd-2: img(src="img/golden-3-2.jpg", alt="")
						.col-md-5.text-block
							.text
								p В завершение III Международного Экономического Бизнес-Конгресса  состоялся 
									strong торжественный прием “Golden Бал”, 
									| который был высоко оценен бизнес-элитой Дальнего Востока России и стран АТР, а также иностранными участниками Бизнес-Конгресса.
					.row
						h3 GOLDEN БАЛ, II Бизнес-Конгресс
						.col-md-7.image
							i.red-border: img(src="img/golden-2-1.jpg", alt="")
							i.red-border.bd-2: img(src="img/golden-2-2.jpg", alt="")
						.col-md-5.text-block
							.text
								p В рамках работы II Международного Экономического Бизнес-Конгресса состоялся вечерний прием с презентацией консорциума Qualitaly (Италия). 
								p В ходе приёма гостям были продемонстрированы образцы современной итальянской моды, драгоценных украшений, а также состоялась презентация вин из Италии.
					.row
						h3 GOLDEN БАЛ, I Бизнес-Конгресс
						.col-md-7.image
							i.red-border: img(src="img/golden-1-1.jpg", alt="")
							i.red-border.bd-2: img(src="img/golden-1-2.jpg", alt="")
						.col-md-5.text-block
							.text
								p В рамках I Международного конгресса Бизнес-Клуба «Диалоги». Участникам конгресса и гостям кинофестиваля были предложены тематические зоны: 
								p 
									strong «Чайный кружок мадам Даттан». 
									| Здесь гости могли за чашечкой чая пообщаться друг с другом, прикоснувшись к чайной культуре XIX-XX веков. 
								p 
									strong «Фотосалон». 
									| Все желающие могли сфотографироваться в обстановке того времени, а также на фоне старинных фотографий из уникального альбома Элеоноры Прей. 
		section.price
			.container
				h2.h2 Стоимость
					i *
				.row
					.col-md-4
						.price-block
							h3 Премиум
							.sum 50 000 
								i.fa.fa-rub
							ul
								li Участие во всех мероприятиях деловой программы <strong>22 сентября V МЭБК</strong>.
								li Участие во всех мероприятиях деловой программы <strong>23 сентября</strong> (тренинг на выбор) <strong>V МЭБК</strong>.
								li Участие сопровождающего лица (по условиям пакета «Сопровождающее лицо»).
								li Участие во всех мероприятиях развлекательной программы: Вечерний прием Golden Ball 22 сентября, Вечерний прием «Бокал шампанского» 23 сентября и др.
								li Комплект раздаточных материалов участника Юбилейного <strong>V МЭБК</strong>.
								li Особые условия размещения в гостиницах города и на услуги ресторанов<i>**</i>. 
								li Услуги консьерж-службы
							a.order-btn.fancybox(href="#callback") Подать заявку
					.col-md-4
						.price-block
							h3 Бизнес
							.sum 35 000 
								i.fa.fa-rub
							ul
								li Участие во всех мероприятиях деловой программы <strong>22 сентября V МЭБК</strong>.
								li Участие во всех мероприятиях деловой программы <strong>23 сентября</strong> (тренинг на выбор) <strong>V МЭБК</strong>.
								li Участие во всех мероприятиях развлекательной программы: Вечерний прием Golden Ball 22 сентября, Вечерний прием «Бокал шампанского» 23 сентября и др. (кроме мероприятий по специальному приглашению)
								li Комплект раздаточных материалов участника Юбилейного <strong>V МЭБК</strong>.
							a.order-btn.fancybox(href="#callback") Подать заявку
					.col-md-4
						.price-block
							h3 Сопровождающее лицо
							.sum 15 000 
								i.fa.fa-rub
							ul
								li Без участия во всех мероприятиях деловой программы <strong>22 сентября V МЭБК</strong>
								li Без комплекта раздаточных материалов участника <strong>V МЭБК</strong>
							a.order-btn.fancybox(href="#callback") Подать заявку
				.info
					p <i>*</i> Стоимость участия не включает в себя проживание в гостинице и проезд до Владивостока и обратно.
					p <i>**</i> Привелегии предоставляются официальными Сервис-Партнерами Международного Экономического Бизнес-Конгресса.
					p <i>***</i> С 01 июля 2016 г. цены на пакеты участника МЭБК увеличатся.
		section.members-list
			.container
				.row
					.col-md-12
						a(href="") Cписок участников МЭБК 2016
		section.contacts
			.container
				h2.h2 Контактная информация
				.row
					.col-md-5
						.contacts-list
							ul
								li
									i.fa.fa-map-marker
									h5 Место проведения:
									span Бизнес-центр HYUNDAI
								li 
									i.fa.fa-map-o
									h5 Адрес места проведения:
									span г.Владивосток, ул. Семеновская, 29
							h4 Контакты организатора: 
							ul
								li
									i.fa.fa-list
									span Адрес: 690091, г.Владивосток, ул. Пологая, д.66, оф.112
								li
									i.fa.fa-phone 
									span Тел\факс: +7 (423) 245-98-26
									span Тел.: +7 (423) 267-54-00
								li
									i.fa.fa-envelope-o 
									span E-mail:
									span congress@babich.ru 
									span dialogi@babich.ru
									span org@babich.ru
									span info@babich.ru
									span pr@babich.ru
								li
									i.fa.fa-globe 
									span: a www.business-dialogy.ru
					.col-md-7
						#ymap 
		section.operator
			.container
				.row
					.col-md-12
						strong Оператор Конгресса
						img(src="img/operator.png", alt="")
		section.partners-block
			.container
				h2.h2 Партнеры МЭБК 2016
				.row
					.col-md-10.col-md-offset-1
						h3 Генеральные партнеры
						.partners-carousel.owl-carousel
							.item
								i: img(src="img/partners-1.jpg", alt="")
							.item
								i: img(src="img/partners-2.jpg", alt="")
							.item
								i: img(src="img/partners-3.jpg", alt="")
							.item
								i: img(src="img/partners-4.jpg", alt="")
							.item
								i: img(src="img/partners-2.jpg", alt="")
					.col-md-10.col-md-offset-1
						h3 Информационные партнеры
						.partners-carousel.owl-carousel
							.item
								i: img(src="img/partners-1.jpg", alt="")
							.item
								i: img(src="img/partners-2.jpg", alt="")
							.item
								i: img(src="img/partners-3.jpg", alt="")
							.item
								i: img(src="img/partners-4.jpg", alt="")
							.item
								i: img(src="img/partners-2.jpg", alt="")
					.col-md-10.col-md-offset-1
						h3 Сервис-партнеры
						.partners-carousel.owl-carousel
							.item
								i: img(src="img/partners-1.jpg", alt="")
							.item
								i: img(src="img/partners-2.jpg", alt="")
							.item
								i: img(src="img/partners-3.jpg", alt="")
							.item
								i: img(src="img/partners-4.jpg", alt="")
							.item
								i: img(src="img/partners-2.jpg", alt="")
					.col-md-10.col-md-offset-1
						h3 Стратегические партнеры
						.partners-carousel.owl-carousel
							.item
								i: img(src="img/partners-1.jpg", alt="")
							.item
								i: img(src="img/partners-2.jpg", alt="")
							.item
								i: img(src="img/partners-3.jpg", alt="")
							.item
								i: img(src="img/partners-4.jpg", alt="")
							.item
								i: img(src="img/partners-2.jpg", alt="")
					.col-md-10.col-md-offset-1
						h3 При поддержке
						.partners-carousel.owl-carousel
							.item
								i: img(src="img/partners-1.jpg", alt="")
							.item
								i: img(src="img/partners-2.jpg", alt="")
							.item
								i: img(src="img/partners-3.jpg", alt="")
							.item
								i: img(src="img/partners-4.jpg", alt="")
							.item
								i: img(src="img/partners-2.jpg", alt="")
		footer.footer
			.container
				.row
					.col-md-12
						a.f-logo(href=""): img(src="img/congress-title.png", alt="")


		.hidden
			form#callback.pop_form
				h3 Отправить заявку
				input(type="text" name="name" placeholder="Ваше имя" required)
				input(type="text" name="phone" placeholder="Ваш телефон" required) 
				input(type="email" name="email" placeholder="Ваш e-mail" required) 
				button.order-button(type="submit") Подать заявку

				input(type="hidden", name="sum")




								
		script(src='libs/jquery/jquery-1.12.4.min.js')
		script(src='libs/jquery-mousewheel/jquery.mousewheel.min.js')
		script(src='libs/fancybox/jquery.fancybox.pack.js')
		script(src='libs/waypoints/waypoints-1.6.2.min.js')
		script(src='libs/scrollto/jquery.scrollTo.min.js')
		script(src='libs/owl.carousel.2.1.0/owl.carousel.min.js')
		script(src='libs/countdown/jquery.plugin.js')
		script(src='libs/countdown/jquery.countdown.min.js')
		script(src='libs/countdown/jquery.countdown-ru.js')
		script(src='libs/landing-nav/navigation.js')
		script(src='js/script.js')
		// Yandex.Metrika counter
		// /Yandex.Metrika counter
		// Google Analytics counter
		// /Google Analytics counter
